*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    text-align: center;
}

header {
    text-align: center;
    background-color: #080808;
}

.logoDisturbed {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.integrantesDisturbed{
    width: 600px;
    max-width: 70%;
    height: auto;
    margin: 20px 0;
    border-radius: 15px; 

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 200px;
    box-shadow: 0 0 20px rgb(73, 4, 4);
}

.card img {
    width: 100%;
    height: 200px;
}


.ingresso-section {
    margin: 40px auto;
    padding: 30px;
    background: linear-gradient(145deg, #111, #1a1a1a);
    width: 450px;
    max-width: 90%;
    border-radius: 15px;
    box-shadow: 0 0 25px rgb(73, 4, 4);
}

.ingresso-section h2 {
    margin-bottom: 20px;
    color: rgb(112, 19, 19);
}

.form-ingresso {
    display: flex;
    flex-direction: column;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-weight: bold;
    font-size: 14px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #222;
    color: white;
}

.input-group input:focus,
.input-group select:focus {
    box-shadow: 0 0 10px rgb(99, 13, 13);
}

.btn-comprar {
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn-comprar:hover {
    background: darkred;
    transform: scale(1.05);
    box-shadow: 0 0 15px red;
}